.create-user-section > h2 {
	margin: 0 0 16px 16px;
	font-family: 'Rubik-Light-300';
	font-size: 24px;
}
.create-user-section > select {
	width: 300px;
	margin: 0 0 16px 16px;
	border: 1.5px solid #c1437f;
	padding: 6px;
	border-radius: 5px;
	outline: none;
	font-family: 'Roboto-Light-300';
	font-size: 16px;
	cursor: pointer;
}
.create-user-section > div {
	padding: 0 16px 16px;
	display: flex;
	align-items: center;
	gap: 16px;
}
.create-user-section > div p {
	font-family: 'Rubik-Regular-400';
	font-size: 24px;
}
.create-user-section > form {
	margin: 0 16px;
	max-width: 300px;
}
.create-user-section > form label {
	display: block;
	font-family: 'Roboto-Regular-400';
	margin-bottom: 8px;
}
.create-user-section > form input {
	width: 100%;
	margin-bottom: 12px;
	font-family: 'Roboto-Light-300';
	border: 1.5px solid #c1437f;
	padding: 6px;
	border-radius: 5px;
	outline: none;
	font-size: 16px;
}
.create-user-section > form input:nth-child(1) {
	display: none;
}
.create-user-section > form button {
	outline: none;
	border: none;
	display: block;
	width: 100%;
	text-decoration: none;
	color: #ffffff;
	font-family: 'Roboto-Regular-400';
	font-size: 16px;
	background-color: #c1437f;
	padding: 8px;
	text-align: center;
	border-radius: 8px;
	cursor: pointer;
}
.create-user-section > form + p {
	font-family: 'Rubik-Light-300';
	margin: 8px 16px;
	color: green;
}
@media screen and (max-width: 900px) {
	.create-user-section > h2,
	.create-user-section > select {
		margin: 0 0 16px 0;
	}
	.create-user-section > form {
		margin: 0;
	}
}
