.download-section > h2 {
	font-family: 'Rubik-Regular-400';
	font-size: 24px;
	margin: 16px;
}
.download-section > h3 {
	font-family: 'Rubik-Light-300';
	font-size: 20px;
	margin: 16px 16px 8px 16px;
}
.download-section > button {
	margin-left: 16px;
	background-color: #c1437f;
	border: none;
	outline: none;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 32px;
	width: min-content;
	cursor: pointer;
	border-radius: 10px 5px 5px 10px;
	cursor: pointer;
}
.download-section > button p {
	background-color: #f9f9f9;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	min-width: 90px;
	font-family: 'Rubik-Light-300';
	font-size: 16px;
	pointer-events: none;
	border-radius: 5px 0 0 5px;
}
.download-section > button span {
	background: rgb(249, 249, 249);
	background: linear-gradient(
		135deg,
		rgba(249, 249, 249, 1) 50%,
		rgba(193, 67, 127, 1) 50%
	);
	display: block;
	height: 32px;
	min-width: 32px;
	pointer-events: none;
}
.download-section > button img {
	padding-right: 5px;
	pointer-events: none;
}
