.main-home {
  height: inherit;
  max-width: 100%;
  padding: 16px;
  overflow-y: scroll;
  display: flex;
}
.section-right {
  width: 100%;
  overflow-y: scroll;
  height: 100%;
  min-height: 700px;
}
.section-right .header {
  height: min-content;
  display: flex;
  justify-content: space-between;
  margin: 0 0 16px 16px;
  background-color: #f9f9f9;
  padding: 16px;
  border-radius: 20px;
}
.section-right .header > div:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 12px;
}
.section-right .header h1 {
  font-family: "Rubik-Regular-400";
}
.section-right .header p {
  font-family: "Roboto-Light-300";
}
.sidebar-left .nav:nth-child(2) a {
  color: #c1437f;
}

@media screen and (max-width: 900px) {
  .main-home {
    flex-direction: column;
  }
  .section-right {
    overflow-y: initial;
    height: auto;
    min-height: auto;
  }
  .section-right .header {
    margin: 16px 0;
  }
}