

.main-login {
  width: 100%;
  height: 100%;
  min-height: 740px;
  background-image: url('../images/bg-login-desktop.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.main-login .login {
  grid-area: 1 / 2 / 2 / 3;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-login .container {
  /* background-color: antiquewhite; */
  min-width: 480px;
}
.main-login .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.main-login .logo p {
  font-size: 32px;
  font-family: "Rubik-Bold-700";
}
.main-login .container > p {
  font-size: 20px;
  max-width: 400px;
  font-family: "Rubik-Regular-400";
  text-align: center;
  margin: 32px auto;
}
.main-login h1 {
  font-size: 32px;
  font-family: "Roboto-Medium-500";
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 48px;
}

.main-login form label {
  font-size: 16px;
  font-family: "Roboto-Regular-400";
  display: block;
  margin: 0 auto;
  margin-bottom: 2px;
  max-width: 400px;
}
.main-login form input {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 24px;
  height: 40px;
  outline: none;
  max-width: 400px;
  border-radius: 8px;
  
}

.main-login form input[type="password"],
.main-login form input[type="text"] {
  border: 1px solid #afa2c3;
  padding-left: 7.5px;
  font-size: 18px;
}

.main-login form input[type="submit"] {
  margin-top: 48px;
  background-color: #c1437f;
  border: none;
  color: #fff;
  font-family: "Roboto-Medium-500";
  font-size: 18px;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .main-login {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/bg-login-tablet.png"); 
  }
  .main-login .login {
    border-radius: 8px;
  }
  .main-login .container {
    padding: 48px 0 24px 0;
  }
}

@media screen and (max-width: 500px){
  .main-login {
    background-image: url("../images/bg-login-mobile.png");
  }

  .main-login .login {
    max-width: 400px;
  }
  .main-login .container {
    min-width: auto;
    padding: 48px 15px 24px 15px;
  }
  
}