.projects-section > div {
	padding: 0 16px;
}
.projects-section > div a {
	text-decoration: none;
	font-family: 'Roboto-Regular-400';
	background-color: #c1437f;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 36px;
	border-radius: 8px;
}
.projects-section > div h3 {
	font-family: 'Rubik-Regular-400';
	font-size: 16px;
	margin-top: 32px;
}

.projects-section .table {
	margin: 16px 0 16px 16px;
	background-color: #f9f9f9;
	padding: 16px;
	border-radius: 20px;
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	max-width: max-content;
}

.projects-section .table h3 {
	font-family: 'Rubik-Light-300';
	color: #cc1144;
	font-size: 14px;
	text-align: left;
	padding-bottom: 8px;
}
.projects-section .table p {
	font-family: 'Roboto-Regular-400';
	font-size: 14px;
	text-align: left;
}

.projects-section .table .td:nth-child(5),
.projects-section .table .td:nth-child(6) {
	display: flex;
	justify-content: center;
	align-items: center;
}

.projects-section .table .td:nth-child(6) button,
.projects-section .table .td:nth-child(5) a {
	text-decoration: none;
	display: block;
	font-family: 'Roboto-Regular-400';
	color: #fff;
	background-color: #c1437f;
	padding: 8px 16px;
	border-radius: 8px;
	font-size: 14px;
	border: none;
	outline: none;
}
.projects-section .table .td:nth-child(6) button {
	background-color: #ff1212;
	cursor: pointer;
}

@media screen and (max-width: 900px) {
	.projects-section > div {
		padding: 0 8px;
	}
	.projects-section .table {
		margin: 16px 0;
		max-width: 100%;
	}
}
