.users-section > div {
  padding: 0 16px;
}
.users-section > div a {
  text-decoration: none;
  font-family: "Roboto-Regular-400";
  background-color: #c1437f;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 36px;
  border-radius: 8px;
}
.users-section > div h3 {
  font-family: "Rubik-Regular-400";
  font-size: 16px;
  margin-top: 32px;
}

.users-section .table {
  margin: 16px 0 16px 16px;
  background-color: #f9f9f9;
  padding: 16px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  max-width: max-content;
  gap: 30px;
}

.users-section .table h3 {
  font-family: "Rubik-Light-300";
  color: #cc1144;
  font-size: 14px;
  text-align: left;
  padding-bottom: 8px;
}
.users-section .table p:not(.table > div:nth-child(4) p ){
  font-family: "Roboto-Regular-400";
  font-size: 14px;
  text-align: left;
}

.users-section .table > div:nth-child(4) {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* button modal color */
.users-section .table > div:nth-child(4) > button {
  background-color: #ff1212;
}


